<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>http://oss.pgyer.com/d89dee4d17d64bdd673e6d2c00e7403c.ipa?auth_key=1563187893-e18b8f48019737858b64eb4084fc397f-0-4d7d2ebac7a511dd8cf32b28ffe3485d&amp;response-content-disposition=attachment%3B+filename%3D2.0.ipa</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.yitong.cn11</string>
				<key>bundle-version</key>
				<string>2.0.0</string>
				<key>kind</key>
				<string>software</string>
				<key>title</key>
				<string>DOTA2</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
