<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>http://oss.pgyer.com/b5b9b2714c02e9f480b4fcb389449a75.ipa?auth_key=1563237492-eef4b9c838230526b97f96912ebb60a2-0-28ae1ada6c578a983f00948f1cdb06c0&amp;response-content-disposition=attachment%3B+filename%3D2.5.ipa</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.yitong.cn1</string>
				<key>bundle-version</key>
				<string>1.0.0</string>
				<key>kind</key>
				<string>software</string>
				<key>title</key>
				<string>MobileMarketHD</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
